<h1>Reset Password</h1>

<% 
    if (typeof error !== 'undefined') {
        %>
        <h3 style="color: red;"><%= error %></h3>
        <%
    }
%>

<% if(typeof form == 'undefined') { %>
<form action="/auth/reset-password?token=<%= resetData.token %>" method="post">
    <input type="hidden" name="userId" id="userId" value="<%= resetData.userId %>">
    <input type="password" name="password" required placeholder="New Password">
    <br><br>
    <input type="password" name="confirmPassword" required placeholder="Confirm Password">
    <br><br>
    <input type="submit" value="Reset Password">
</form>
<% } %> 